body {
    resize: none;
    font-size: 15px;
    font-family: "Helvetica Neue";
}

.circle {
    line-height: 0;
    display: inline-block;
    margin: 5px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    transition: linear 0.25s;
    height: 50px;
    width: 50px;
}

.circle img {
    border-radius: 50%;
}

.circle:hover {
    transition: ease-out 0.2s;
    border: 2px solid rgba(255, 255, 255, 0.8);
    -webkit-transition: ease-out 0.2s;
}