<div ng-if="loadingPage">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<div ng-if="!loadingPage">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Commit to DefaultSettings.php
            </span>
            <span class="md-subhead"><b>Branch:</b> {{branch}}</span>
            <span class="md-subhead"><b>File Path:</b> {{path}}</span>
            <span class="md-subhead"><b>Tag to Commit:</b> {{tag}}</span>
        </md-card-title-text>
    </md-card-title>
    <center>
        <img ng-if="btnTxt === 'Next'" height="32px;" width="32px;" src="../icons/success.ico">
        <div ng-if="btnTxt === 'Close'">
            <p>{{errMsg}}</p>
            <img height="32px;" width="32px;" src="../icons/error.png">
        </div>
    </center>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-warn" ng-click="onCommitClicked()" ng-disabled="inCommitProcess">{{btnTxt}}
        </md-button>
    </section>
</div>
