<div ng-if="loadingPage">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<div ng-if="!loadingPage">
    <div>
        <center>
            <md-select placeholder="Choose Repository" ng-model="global.repo" md-on-close="loadBranches(global.repo)"
                       md-on-open="loadRepositories()" style="width: 300px;">
                <md-option ng-value="repo.full_name" ng-repeat="repo in repos">{{repo.full_name}}</md-option>
            </md-select>
            <md-select placeholder="Choose Branch" ng-model="global.branch" md-on-close="getCurrentVersion()"
                       style="width: 300px;">
                <md-option ng-value="branch.name" ng-repeat="branch in branches">{{branch.name}}</md-option>
            </md-select>
            <div ng-if="currentVersion">
                <p class="md-body-2"><b> Current version: </b>{{currentVersion}}</p>
                <p class="md-body-2"><b>Next version: </b><span style="color: red"> {{global.newVersion}}</span></p>
                <md-checkbox class="md-body-2" style="font-style: italic;" ng-model="global.prerelease"
                             ng-change="onPreReleaseChange()">
                    This is a pre-release
                </md-checkbox>
            </div>
            <br>
            <md-button class="md-raised md-primary" ng-click="onCreateVersionClicked()">Create Release
            </md-button>
        </center>
    </div>
</div>