<div ng-if="loadingPage === true">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>

<div ng-if="loadingPage === false">
    <div>
        <center>
            <br>
            <md-autocomplete style="width: 300px;"
                             md-selected-item="global.repo"
                             md-search-text="searchRepoText"
                             md-selected-item-change="selectedRepoChange(repo)"
                             md-items="repo in queryRepoSearch(searchRepoText)"
                             md-item-text="repo.full_name"
                             md-min-length="0"
                             placeholder="Choose Repository">
                <md-item-template>
                    <span md-highlight-text="searchRepoText" md-highlight-flags="^i">{{repo.full_name}}</span>
                </md-item-template>
            </md-autocomplete>
            <br>
            <md-autocomplete style="width: 300px;"
                             md-selected-item="global.branch"
                             md-search-text="searchBranchText"
                             md-selected-item-change="selectedBranchChange(branch)"
                             md-items="branch in queryBranchSearch(searchBranchText)"
                             md-item-text="branch.name"
                             md-min-length="0"
                             placeholder="Choose Branch">
                <md-item-template>
                    <span md-highlight-text="searchBranchText" md-highlight-flags="^i">{{branch.name}}</span>
                </md-item-template>
            </md-autocomplete>
            <div ng-if="currentVersion">
                <p class="md-body-2"><b> Current version: </b> <span style="color: red;">{{currentVersion}}</span></p>
                <p class="md-body-2"><b>Next version: </b></p>

                <md-radio-group ng-model="newVersionType" ng-change="onVersionTypeChanged()">
                    <md-radio-button value="Auto" class="md-primary">Auto Detect</md-radio-button>
                    <md-radio-button value="Manual" class="md-primary">Insert Manually</md-radio-button>
                </md-radio-group>

                <p class="md-body-2" ng-if="newVersionType === 'Auto' " style="font-size: 20px;">
                    <span style="font-size: 12px;" ng-if="detecting">Detecting...</span>
                    <b ng-if="!detecting">{{global.newVersion}}</b>
                    <br>
                </p>

                <p ng-if="newVersionType === 'Manual' ">
                    <md-input-container class="md-body-2">
                        <input style="font-size: 20px;" type="text" placeholder="e.g. 2.XX.rcX"
                               ng-model="global.newVersion">
                    </md-input-container>
                </p>

                <md-checkbox class="md-body-2" style="font-style: italic;" ng-model="global.prerelease"
                             ng-change="onPreReleaseChange()">
                    This is a pre-release
                </md-checkbox>
            </div>
            <br>
            <md-button class="md-raised md-primary" ng-click="onCreateVersionClicked()">Create Release
            </md-button>
        </center>
    </div>
</div>