<!doctype html>
<html>
<head>
    <title>Bump Version!</title>
    <!--css-->
    <link rel="stylesheet" type="text/css" href="../css/popup.css">
    <link rel="stylesheet" href="../libs/angular-material.css">
    <!--js-->
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script src="../libs/angular.min.js"></script>
    <script src="../libs/angular-route.min.js"></script>
    <script src="../libs/angular-aria.js"></script>
    <script src="../libs/angular-animate.js"></script>
    <script src="../libs/angular-material.js"></script>
    <script src="../libs/lodash.min.js"></script>
    <script src="../js/firebase.js"></script>
    <!--controllers-->
    <script src="../controllers/popup.controller.js"></script>
    <script src="../controllers/signIn.controller.js"></script>
    <script src="../controllers/home.controller.js"></script>
    <script src="../controllers/commit.controller.js"></script>
    <script src="../controllers/tagRepo.controller.js"></script>
    <script src="../controllers/releaseNotesGithub.controller.js"></script>
    <script src="../controllers/releaseNotesConfluence.controller.js"></script>
    <script src="../controllers/allInOne.controller.js"></script>
    <!--services-->
    <script src="../services/user.service.js"></script>
    <script src="../services/github.service.js"></script>
    <script src="../services/confluence.service.js"></script>
    <script src="../services/jira.service.js"></script>
</head>
<body ng-app="releaseVersion">
<md-card ng-controller="popupController" ng-init="onPopupShown()">
    <md-content>
        <center>
            <span class="md-headline" style="color:dodgerblue">Bump</span>
            <span class="md-subhead" style="color: limegreen">Version!</span>
            <div ng-if="global.isAuthenticated">
                <img class="circle" ng-src="{{global.user.avatar}}"/><br>
                <span class="md-title">{{global.user.name}}</span>
            </div>
            <hr>

            <div ng-if="global.inReleaseProcess">
                <div layout="column" style="padding-left: 5px;">
                    <div flex>
                        <span class="md-body-1"><b>Repository:</b> {{global.repo.full_name}}</span>
                    </div>
                    <div flex>
                        <span class="md-body-1"><b>Branch:</b> {{global.branch.name}}</span>
                    </div>
                    <div flex>
                        <span class="md-body-1"><b>Version:</b> {{global.newVersion}}</span>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
        </center>

        <div ng-view></div>

    </md-content>
</md-card>
</body>
</html>